apiVersion: v1
kind: Service
metadata:
  name: sentiment-api
  namespace: sentiment
  labels:
    app: sentiment-api
spec:
  selector:
    app: sentiment-api
  ports:
    - name: http
      port: 80
      targetPort: 8080
  type: LoadBalancer
